{% extends "main.html" %}
{% block FindJobs %}
{% load i18n static %}

<section class="find-job section">
    <div class="container">
      <h2 class="section-title"></h2>
      <div class="row">
        <div class="col-md-12">
            <div class="job-list">
                <div class="job-list-content">
                    <h2>Confidentialite</h2>
                    <br/>
                    <strong>Collecte de données</strong>
                    <br/>
                    <p>L'information affichée sur 237jobs.com est évidemment accessible au public.
                         Nos serveurs sont situés en Europe et en Afrique. Par conséquent, si vous choisissez
                          de nous fournir des informations personnelles, vous consentez au transfert et au 
                          stockage de ces informations sur nos serveurs situés en Europe et en Afrique. 
                          Nous collectons et stockons les informations personnelles suivantes:</p>
                    <ul>
                        <li>email, coordonnées de contact;</li>
                        <li>les données de connexion des ordinateurs, des statistiques sur les pages vues, 
                            le trafic vers et à partir des données de jobinfocamer et des annonces 
                            (via les cookies)</li>
                        <li>d'autres informations, notamment l'adresse IP des utilisateurs et les informations
                             de journalisation Web</li>
                    </ul>
                    <br/>
                    <strong>divulgation</strong>
                    <br/>
                    <p>Nous ne vendons pas les informations personnelles à des tiers à des fins de marketing
                         sans le consentement des utilisateurs. Nous pouvons divulguer des renseignements
                          personnels pour répondre aux exigences légales, appliquer nos règlements, 
                          répondre aux plaintes qu'une annonce ou tout autre contenu en violation 
                          des droits des autres utilisateurs , ou de protéger les droits de qui que ce soit, 
                          la propriété ou la sécurité.</p>
                
                          <br/>
                          <br/>
                          <br/>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}