{% extends "main.html" %}
{% block FindJobs %}

<section class="find-job section">
    <div class="container">
      <h2 class="section-title"></h2>
      <div class="row">
        <div class="col-md-12">
            <div class="job-list">
                <div class="job-list-content">
                    <h2>Conditions d'utilisation</h2>
                    <br/>
                    <p>Engagements généraux des utilisateurs, des employeurs et des candidats En validant
                         les pages écrans du site 237jobs.com que vous renseignez,
                          vous vous engagez à :</p>
                    <ul>
                        <li>utiliser les services du site www.237Jobs.com conformément à la
                             réglementation camerounaise et en particulier à ne pas les utiliser pour afficher
                              tout contenu contraire à la législation aux bonnes mœurs et à l’ordre public.
                               237Jobs se réserve le droit de supprimer, sans avertissement, 
                               toute information contraire aux textes en vigueur</li>
                        <li>ne pas collecter et stocker des données personnelles afférentes aux autres 
                            utilisateurs du site 237Jobs.com</li>
                        <li>ne pas harceler, de quelque manière que ce soit, un autre utilisateur du 
                            site 237Jobs.com</li>
                    </ul>
                    <p>237Jobs s’engage à appliquer la réglementation camerounaise relative au recrutement
                         et à l’utilisation de bases de données informatiques faisant appel à des données 
                         à caractère personnel</p>
                    <p><em>Il est strictement interdit de procéder à la vente d’offres d’emploi. Ainsi,
                         il est proscrit d’insérer dans les offres d’emploi des mentions relatives à la
                          promotion de prestations et de services concernant les offres d’emploi ou le
                           déroulement de carrière qui comporteraient des allégations fausses ou susceptibles
                            d’induire en erreur, notamment en ce qui concerne le caractère gratuit de ces
                             services. Par ailleurs, l’employeur s’engage à ne pas faire usage d’un numéro de
                              téléphone surtaxé dans l’offre d’emploi qu’il propose à la diffusion.</em></p>
                    <p>Il est interdit de faire figurer dans une offre d’emploi une allégation fausse ou susceptible d’induire en erreur les candidats, en particulier en ce qui concerne l’existence, l’origine, la nature et la description de l’emploi offert, la rémunération, les avantages annexes proposés et le lieu de travail.
                        <strong>Attention</strong>, lorsque l’offre porte sur une profession réglementée, il
                         est nécessaire de s’assurer que l’intitulé du poste est en conformité avec le niveau
                          de diplôme exigé.</p>
                    <p>La diffusion des offres d’emploi dans le public est réglementée.</p>
                    <strong>Les conditions de diffusion des offres d’emploi anonymes</strong>
                    <p>A l’exception des entreprises de travail temporaire, tout employeur ou intermédiaire
                         agissant en son nom (agence de publicité, cabinet de recrutement, etc.) peut diffuser
                          une offre d’emploi anonyme. L’employeur doit alors impérativement faire connaître son
                           nom ou sa raison sociale, ainsi que son adresse à 237Jobs.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}